* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

header > img {
  width: 48px;
}

/* --- */

main {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 32px max(96px, 20%);
}

main > form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

main > form > .input-element {
  padding: 8px;
  border-radius: 4px;
  border-color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

main > form > input {
  flex-grow: 2;

  font-family: Inter, sans-serif;
}

main > form > button {
  flex-grow: 1;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  font-family: Inter, sans-serif;
}

main > form > button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

main > .ingredients-section {
  margin: 8px 0px;
}

main > .ingredients-section > ul {
  padding: 8px;
}

main > .ingredients-section > ul {
  list-style-position: inside;
}

main > .get-recipe-section {
  padding: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(211, 211, 211);
  border-radius: 8px;
}

main > .get-recipe-section > p {
  font-weight: bold;
}

main > .get-recipe-section > button {
  padding: 8px;
  background-color: rgb(248, 131, 121);
  border: none;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

main > .get-recipe-section > button:hover {
  background-color: rgba(248, 131, 121, 0.7);
  cursor: pointer;
}

/* main > #recipe-section > #recipe-container {
  background-color: aqua;
} */

main > #recipe-section > #recipe-container > #suggestion {
  margin: 8px 0px;
}

main > #recipe-section > #recipe-container > #recipe-name {
  margin: 8px 0px;
}

main > #recipe-section > #recipe-container > #recipe-ingredients {
  margin: 8px 0px;
  padding: 0px 8px;

  list-style-position: inside;
}

main > #recipe-section > #recipe-container > #recipe-instructions {
  margin: 8px 0px;
  padding: 0px 8px;

  list-style-position: inside;
}
